@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

div.landing {

  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 781px;

  background-color: #131313;
  overflow: hidden;

}

/* div.landing img {
  width: 100%;
  height: 781px;
  position: absolute;
  z-index: -1;
} */

div.landing img.elipse {
  position: absolute;
}

div.landing h1.header {

  position: absolute;

  color: white;

  margin-bottom: 31px;

  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 900;
  font-size: 30px;
  line-height: 37px;

  text-align: center;

}

div.landing p.content {

  position: absolute;
  bottom: 23%;

  color: white;

  width: 641px;
  height: 125px;

  margin-bottom: 46px;

  font-family: "Outfit";

  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;

  text-align: center;

}


div.landing button.btn-curta {

  position: absolute;
  bottom: 15%;

  height: 57px;
  width: 196px;

  background-color: #272727;
  color: white;

  font-family: 'Outfit', sans-serif;
  font-family: 400;
  font-size: 20px;
  line-height: 25.2px;

  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.17);

  border-radius: 60px;
  border: none;
  outline: none;

  cursor: pointer;

}
div.landing button.btn-curta:hover span:first-child {
  opacity: 1;
}
div.landing button.btn-curta:hover span:last-child {
  top: 0;
  bottom: 0;
  opacity: 0;
}
div.landing button.btn-curta span {
  transition: all 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
div.landing button.btn-curta span:last-child {
  opacity: 1;
  transform: translate(-50%, -50%);
}

